.wrapper{
    min-height: 100vh;
    background-image: url(assets/images/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-block{
    background-color: #ffc34a;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 57px 26px 10px rgba(0,0,0,0.38);
    padding: 5em;
    line-height: 20px;
    font-weight: 500;
}
h1{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
}
.bold{
    font-weight: bold;
}
a[class="bold"]{
    color: black;
    text-decoration: none;
}